  body{
      background-image: url("pinkbackground.png");
      text-align: center;
      font-family: sans-serif;
      font-weight: bold;

  }

  .top {
    margin: auto;
    background: #2C82C9;
    padding: 10px;
  }

  .top:hover{
    transform: scale(1.5);
  }

  .h1class{
      text-decoration: none;
      color: black;
  }

  /* li{
      background-color: rgb(10, 250, 210);
  } */

  .social-links a{
      text-decoration: none;

  }

  .content{
    list-style: none;
    padding: 0;
    margin: 28px auto 0;
    color: #fff;
    width: 640px;
  }
  .content li {
        background-color:#2C82C9;
        float: left;
        box-sizing: border-box;
        width: 319px;
        height: 319px;
        padding: 24px;
        margin: 0 1px 1px 0;
        overflow: hidden;
        text-decoration:none;
        color:black
        
    }

    .content h3{
        text-decoration: none;
        color:black
    }

    .content li:hover{
            background-color: red;
            transform: scale(1.5);
          }

          .link-container {
           margin: auto;
           padding: 10px;
          }

          .link-container:hover{
            transform: scale(1.5);
          }
          
          #linkWebsite {
            width: 500px;
            height: 40px;
            margin: 20px 0 35px 0;
            font-size: 1em;
            border-radius: 12px;
            border: 1px #ddd solid;
            box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.20);
          }
          
          .buttonsDiv input {
            border-radius: 12px;
            margin: auto;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
            
          }
          

          .text-container{
              margin:auto;
              font-size:17;

          }

          .text-container button{
            border-radius: 12px;
            margin: auto;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
          }

          .text-container:hover{
              margin:auto;
              transform: scale(1.5)
          }

          .upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
        }

          .upload + label {
            border-radius: 12px;
            margin: auto;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;

          }


    .switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left:4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider{
        background-color: #2196F3;
    }

    input:focus + .slider{
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked +.slider:before{
        -webkit-transform: translateX(26px);
        -ms-tranform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round{
        border-radius: 34px;
    }

    .slider.round:before{
        border-radius: 50%;
    }