body {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0px;
	margin:0px;
	overlay:hidden;
}

.top {
	margin: auto;
	background: white;
	padding: 10px;
}

.social-links a {
	text-decoration: none;
}

.content {
	list-style: none;
	padding: 0;
	margin: 28px auto 0;
	width: 100%;
	overflow:hidden;
}

.content li {
	float: left;
	box-sizing: border-box;
	width: 100%;
	height: 319px;
	overflow: hidden;
	text-decoration: none;
	z-index:5;
}
.content a:hover, .content .optionPic:hover{
	animation: optionAnim 1.5s;
	animation-fill-mode: forwards;
}
.content a {
	margin:0.5%;
	background-color:black;
	float: left;
	box-sizing: border-box;
	width: 49%;
	height: 319px;
	overflow: hidden;
	text-decoration: none;
	z-index:5;
	animation:startUp;
	animation-fill-mode:forwards;
	color:white;
}
.content li h3 {
	margin-top:20%;
	color:white;
}
.content h3 {
	text-decoration: none;
	color: black
}

.contents {
	background-color: lightgrey;
	width: 500px;
	padding: 100px;
	margin: auto;
}

.contents textarea {
	width: 200px;
	padding: 100px;
	margin: 1px;
}

#textbased {
	width:59%;
/* 	background-image:url("../fotos/textBG.jpg");
	background-repeat:no-repeat;
	background-size:cover; */
}
#videobased {
	width:39%;
/* 	background-image:url("../fotos/videoBG.jpg");
	background-repeat:no-repeat;
	background-size:cover;	 */
	
}
#picturebased {
/* 	background-image:url("../fotos/pictureBG.jpg");
	background-repeat:no-repeat;
	background-size:cover;	 */
}
#custom {
/* 	background-image:url("../fotos/customBG.jpg");
	background-repeat:no-repeat;
	background-size:cover;	 */
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-tranform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


@media only screen and (max-width: 600px) {
	.content li {
		width: 100%;
	}
	.content .coloroverlay {
		width:100%;
	}
	.content .optionPic {
		width: 100%;
	}
	.content a {
		width:100%;
	}
	
	#textbased {
		width:100%;
	}
	#videobased {
		width:100%;
	}
	#picturebased {
		width:100%;
	}
	#custom {
		width:100%;
	}
}

@keyframes optionAnim {
	0% {letter-spacing: normal; transform:scale(1);}
	100% {letter-spacing: 2px; transform:scale(1.2);}
}

@keyframes startUp {
	0% {transform: scaleX(0);}
	100% {transform: scaleX(1);}
}
